<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="azure.nuget" value="https://nuget.cdn.azure.cn/v3/index.json" />
        <add key="huawei.nuget" value="https://mirrors.huaweicloud.com/repository/nuget/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="homenas" value="http://home.istr.cn:58081/repository/nuget-hosted/" />
    </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
